{% extends "base.html" %}

{% block title %}Welcome{%endblock%}

{% block content %}
<div id="content">
  <ul class="unstyled">
    {% for article in articles_page.object_list %}
    <li>
      <div>
        <p class="title clear is-4"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></p>
        <p class="subtitle is-6">
          <span>{{ article.locale_date|upper }}</span> |
          <span>{{ article.tags|format_tags }}</span>
        </p>
        <div>
          <p>{{ article.summary }}</p>
        </div>
      </div>
    </li>

    <li><hr /></li>
    {% endfor %}
  </ul><!-- /#posts-list -->

</div><!-- /#content -->
{% endblock content %}
